---
layout: video
regenerate: true
---

<div class="content list h-feed">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts limit:25 %}
	{% if post.microblog == false %}
		<h3 class="home-title">
<div class="list-item h-entry"><div class="list-post-date"><a href="{{ site.baseurl }}{{ post.url }}" class="u-url"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></a> | {{ post.title }}</div></h3>
        {% else %}
<div class="list-item h-entry"><div class="list-post-date"><a href="{{ site.baseurl }}{{ post.url }}" class="u-url"><time class="dt-published" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></a> -- <b>{{ post.title }}</b></div>
	{% endif %}
    <div class="content post e-content">
      {{ post.content }}<div style="text-align: center; font-size: 24px;">&#10023;&#10023;&#10023;</div>
    </div>
  </div>
<br>
{% endfor %}
{% endif %}
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

